echo "# Kingjones" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/kingjones8683/Kingjones.git
git push -u origin main
